@import "~style/base";
@import "~style/ui/buttons";

/// Project preview
///
/// @name .project_preview
///
/// @group projects

.project_preview {
  margin-bottom: 10px;

  picture {
    @include media-breakpoint-down(xs) {
      @include snap-to-side;
      width: 100vw;
    }
  }

  &__preview_image {
    img {
      width: 100%;
    }
  }

  &__title {
    font-size: $h2-font-size;
    @include media-breakpoint-down(xs) {
      font-size: $h4-font-size;
    }
  }

  &__infos {
    padding: $spacer 0;
    transition: padding 0.5s;
    position: relative;
    
  }

  &__arrow {
    position: absolute;
    top: 47%;
    left: 0;
    opacity: 0;
    will-change: opacity transform;
    transition: opacity 0.25s ease-in 0.07s, transform 0.25s 0.05s;
    transform: translate(-250%, -50%);
    svg {
      width: 12px;
      height: auto;
    }
  }

  &__video_preview {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    overflow: hidden;
    opacity: 0;
    will-change: opacity transform;
    transition: opacity 1s, transform 0.25s;
    transform: scale(1.05);
    video {
      object-fit: cover;
    }
  }

  &:hover {
    .project_preview__video_preview {
      opacity: 1;
      transform: scale(1);
    }
    .project_preview__infos {
      padding-left: $spacer-lg;
    }
    .project_preview__arrow {
      opacity: 1;
      transform: translate(0%,-50%);
    }
  }

  a:hover {
    text-decoration: none;
  }

}

/// Project list sidebar
///
/// @name .projects_sidebar
///
/// @group projects

.projects_sidebar {
  position: relative;
  @include media-breakpoint-up(md) {
    min-height: 120vh;
  }
  h3 {
    line-height: 1;
    @include media-breakpoint-down(lg) {
      font-size: $h2-font-size;
    }
    @include media-breakpoint-down(xs) {
      text-align: center;
    }
  }
}

/// Project filters
///
/// @name .projects_filters
///
/// @group projects

.projects__filters {
  
  a {
    display: block;
    padding: $spacer-xs 0;
    // font-weight: 600;
    &:hover {
      color: $gray-500;
      text-decoration: none;
    }
    @include media-breakpoint-down(xs) {
      text-align: center;
    }
  }

  &__link_active {
    color: $gray-500;
  }

}

/// Project single
///
/// @name .project_single
///
/// @group projects


$projectHeaderHeight: 140px;

.project_single {
  min-height: 90vh;
  display: flex;
  flex-direction: column;

  &__header {
    height: $projectHeaderHeight;
    @include media-breakpoint-down(xs) {
      height: auto;
      padding-top: $spacer-md;
      padding-bottom: $spacer-md;
    }
  }

  &__content {
    height: calc(100% - #{$projectHeaderHeight});
    flex-grow: 1;
    position: relative;
    @include snap-to-side;
    iframe {
      height: 100% !important;
      width: 100% !important;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  &__footer {
    padding-top: $spacer-xl;
    * {
      color: $gray-600;
    }
  }

}

/// Project single close
///
/// @name .btn__close
///
/// @group projects


.btn__close {
  @extend .btn__close;
  top: -5px;
}