

.btn__close {
  position: relative;
  width: 30px;
  height: 30px;
  display: inline-block;
  
  img {
    transition: transform 0.25s;
    width: 30px;
  }

  &:hover {
    img {
      transform: rotate(90deg)
    }
  }

}