/// burger nav menu item
///
/// @name nav-main__burger
///
/// @group ui

.nav-main__burger {
  pointer-events: all !important;

  // remove focus outline
  &:focus {
    outline: none;
  }

  &.hamburger {
    @include media-breakpoint-down(xs) {
      padding-right: 0;
    }
  }

  .hamburger-inner {
    background: transparent;
  }

  // when inverted, not active
  &.is-inverted:not(.is-active) {
    .hamburger-inner::before,
    .hamburger-inner::after {
      background: $white;
    }
  }

}

/// search icon nav item
///
/// @name .main__search_icon
///
/// @group ui

.nav-main__search_icon {
  pointer-events: all !important;
  border: none;
  background: transparent;
  cursor: pointer;
  transition: opacity 0.25;
  padding: 0;
  position: relative;
  top: 3px;
  margin-right: $grid-gutter-width/2;
  
  &:focus {
    outline: none;
  }

  &.nav-main__open {
    // opacity: 0;
    // pointer-events: none !important;
    svg.icn__search {
      g {
        stroke: $black !important;
      }
    }
  }

  .icn__close {
    width: 28px;
    height: 22px;
  }

  &.is-inverted {
    svg.icn__search {
      g {
        stroke: $white;
      }
    }
    svg.icn__close {
      g {
        stroke: $white;
      }
    }
  }
}


/// Main nav container
///
/// @name .nav-main
///
/// @group ui

.nav-main {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  pointer-events: none;
  background-color: $white;
  z-index: $zindex-fixed;
  will-change: opacity;
  transition: opacity .25s;
  overflow: hidden;

  @include media-breakpoint-down(sm) {
    overflow-y: scroll;
  }

  .container-fluid {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .offices-list {
    padding-bottom: $spacer;
    &__label {
      width: 100%;
      @include media-breakpoint-up(md) {
        width: 20%;
      }
      @include media-breakpoint-down(sm) {
        text-align: center;
        h3 {
          font-size: $h3-font-size;
          color: $gray-400;
        }
      }
    }
    &__list {
      width: 100%;
      @include media-breakpoint-up(md) {
        width: 80%;
      }
    }
    .office__address {
      margin-bottom: $spacer;
    }
  }

  // open with body class
  &.nav-main__open {
    opacity: 1;
    pointer-events: all;
  }

  // menu items
  &__items {
    padding: 2.6rem $spacer 2.6rem 0;
    font-size: $h3-font-size;
    @include media-breakpoint-down(sm) {
      padding: ($spacer-xl * 1.5) 0 $spacer-xl 0;
      display: block;
      text-align: center;
      font-size: $h3-font-size + 4px;
    }
  }

  
  &__item {
    display: block;
    
    @include media-breakpoint-up(md) {
      width: 20%;
    }
    
    a {
      display: block;
      &.is-active {
        color: $gray-400;
      }
      &.is-active + .nav-main__blurb {
        color: $gray-400;
        opacity: 1;
      }
    }
    
    .nav-main__blurb {
      font-size: $h6-font-size;
      margin-bottom: 0;
      will-change: opacity;
      opacity: 0;
      transition: opacity .25s;
      pointer-events: none;
      padding-right: $spacer;
      @include media-breakpoint-up(xl) {
        padding-right: $spacer-xl;
      }
      @include media-breakpoint-down(sm) {
        display: none;
      }
    }

    &:hover {
      .nav-main__blurb {
        opacity: 1;
      }
    }

  }


}