/// Main site header
///
/// @name .site-header
///
/// @group ui

.site-header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: $zindex-fixed + 1;
  pointer-events: none;
  transition: transform 1s $easeInOutCubic;

  .container-fluid {
    padding-left: 25px;
    padding-right: 25px;
    @include media-breakpoint-up(md) {
      padding-left: 45px;
    }
  }

  &.nav-main__open {
    pointer-events: none;
    position: fixed;
  }

  &.site-header__inverted {
    color: $white;
    a {
      color: $white;
    }
    &.nav-main__open {
      background: inherit;
    }
  }

  &.site-header__hidden {
    transform: translateY(-100%);
  }

}