@import "~style/base";
@import "~style/ui/buttons";

.page {
  padding-top: 20vh;

  &__header {
    margin-bottom: $spacer-xl;
    @include media-breakpoint-down(xs) {
      h1 {
        font-size: $h2-font-size;
      }
    }
  }

}

.btn__close {
  @extend .btn__close;
  top: $grid-gutter-width;
  right: $grid-gutter-width;
  position: absolute;
}