@import "~style/base";


/// logo
///
/// @name .logo
///
/// @group logo

$logo-font-size: 102px;

@keyframes logoFadeInAnimation {
  from { 
    color: $black;
  }
  to { 
    color: $white;
  }
}

.logo {    
  text-align: center;
  transition: color 0.25s;
  margin-left: auto;
  margin-right: auto;

  &:hover {
    color: $black;
    text-decoration: none;
  }

  h1 {
    font-size: $logo-font-size;  
    margin: 0;
    @include media-breakpoint-down(md) {
      font-size: $logo-font-size/1.5;  
    }
  }  

  span {
    font-family: $font-family-sans-serif;
  }

  
  &__inverted {
    @extend .logo;
    color: $white;
    &:hover {
      color: $white;
      text-decoration: none;
    }
  }

  &__animated {
    @extend .logo;
    animation-name: logoFadeInAnimation;
    animation-duration: 2s;
    animation-delay: 2s;
    animation-fill-mode: backwards;
  }

  &__compact {
    @extend .logo;
    text-align: left;
    h1 {
      font-size: $h3-font-size;  
    }
  }

}


/// by line
///
/// @name .byline
///
/// @group logo


@keyframes byLineFadeInAnimation {
  from { 
    opacity: 0;
  }
  to { 
    opacity: 1;
  }
}

.byline {
  font-size: $h3-font-size;

  &__animated {
    @extend .byline; 
    animation-name: byLineFadeInAnimation;
    animation-duration: 2s;
    animation-delay: 3s;
    animation-fill-mode: backwards;
  }
}
