@import "~style/base";
@import "~style/base/type";


//
// variables
//

$logo-font-size: 92px;
$logo-animation-duration: 2s;
$logo-animation-delay: 2s;

// this export to css module variables values
:export {
  logoAnimationDuration: $logo-animation-duration;
  logoAnimationDelay: $logo-animation-delay;
}

/// logo
///
/// @name .logo
///
/// @group logo


@keyframes logoFadeInAnimation {
  0% {
    color: $black;
  }
  100% {
    color: $white;
  }
}

.logo {
  text-align: center;
  transition: color 0.25s;
  margin-left: auto;
  margin-right: auto;

  &[href]:hover {
    color: $black;
    text-decoration: none;
  }

  &__heading {
    font-size: $logo-font-size;
    margin: 0;
    @extend .h1;
    @include media-breakpoint-down(lg) {
      font-size: $logo-font-size/1.25;
    }
    @include media-breakpoint-down(xs) {
      font-size: $logo-font-size/2.25;
      line-height: 1.05;
      padding-left: $grid-gutter-width;
      padding-right: $grid-gutter-width;
      margin-bottom: 12px;
    }
  }

  span {
    font-family: $font-family-sans-serif;
  }

  &__title {
    padding-left: 25px;
    text-transform: lowercase;
    @include media-breakpoint-down(xs) {
      padding-left: 5px;
      // font-size: $h6-font-size;
    }
  }

  &__inverted {
    @extend .logo;
    color: $white;
    &[href]:hover {
      color: $white;
      text-decoration: none;
    }
  }

  &__animated {
    @extend .logo;
    animation-name: logoFadeInAnimation;
    animation-duration: $logo-animation-duration;
    animation-delay: $logo-animation-delay;
    animation-fill-mode: backwards;
  }

  &__compact {
    @extend .logo;
    text-align: left;
    .logo__heading {
      font-size: $h3-font-size;
      padding-left: 0;
      padding-right: 0;
    }
    .logo__title {
      padding-left: 5px;
      display: inline;
    }
  }

}


/// by line
///
/// @name .byline
///
/// @group logo


@keyframes byLineFadeInAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.byline {
  font-size: $h3-font-size;

  @include media-breakpoint-down(xs) {
    font-size: 1rem;
  }

  &__animated {
    @extend .byline;
    animation-name: byLineFadeInAnimation;
    animation-duration: 2s;
    animation-delay: 3s;
    animation-fill-mode: backwards;
  }
}
