@import "~style/base";

.reel {
  position: relative;
  overflow: hidden;
  height: 55vh;

  &__cursor {
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    display: inline-block;
    transform: translate(-50%,-50%);
    color: $white;
    font-size: $h2-font-size;
    opacity: 1;
    transition: opacity 0.15s;
    width: 200px;
    text-align: center;
    pointer-events: none;
    transition: all 0.15s;
  }

  &__label {
    position: absolute;
    z-index: 10;
    bottom: $spacer-xl;
    left: 90px;
    color: $white;
    font-size: $h2-font-size;
    font-family: $font-family-sans-serif;
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    cursor: none;
  }

  &:hover {
    .reel__cursor {
      opacity: 1;
      transition: all 0.015s;
    }
  }

  &__playing {
    @extend .reel;
    height: 100vh;
    video {
      // display: contain;
      object-fit: contain !important;
    }
  }

  // video react overides
  .video_react {
    // border: 5px solid green;
    position: relative;

    video {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      height: 100%;
      z-index: 0;
      transform: translate(-50%,-50%);
      object-fit: cover;
    }
  }

}
