@import "~style/base";

/// landing page
///
/// @name landing
///
/// @group base

$header-height: 80vh;
$header-height-mobile: $header-height / 1.5;

@keyframes headerAnimation {
  from { 
    height: 100vh;
    background: $white;
  }
  to { 
    height: $header-height;
    background: $black;
  }
}

@keyframes headerAnimationMobile {
  from { 
    height: 100vh;
    background: $white;
  }
  to { 
    height: $header-height / 1.5;
    background: $black;
  }
}


.landing {
  display: block;
  
  &__header {
    background: $black;
    color: $white;
    height: $header-height;
    @include vertical-inner;
    @include media-breakpoint-down(xs) {
      padding-top: 65px;
      height: $header-height-mobile;
    }
  }

  &__withIntro {
    @extend .landing;
    
    .landing__header {
      animation-name: headerAnimation;
      animation-duration: 2s;
      animation-delay: 2s;
      animation-fill-mode: backwards;
      @include media-breakpoint-down(xs) {
        animation-name: headerAnimationMobile;
      }
    }

  }

}

