@import "~style/base";

.footer {
  padding-top: $spacer-xl * 2;
  padding-bottom: $spacer-xl;

  @include media-breakpoint-down(xs) {
    padding-top: $spacer-xl;
  }

  a {
    color: $black !important;
  }

  h4 {
    margin-bottom: 4px;
  }

  // nav {
  //   border: 1px solid red;
  //   @include media-breakpoint-down(xs) {
  //     margin-left: inherit !important;
  //     margin-right: auto !important;
  //   }
  // }

}