@import "~style/base";
@import "~style/vendors/bootstrap/nav";

/// main nav modules
///
/// @name .nav
///
/// @group nav

.nav {
  padding-top: $spacer;
    
  .nav-item {
    @extend .nav-item;
    padding: 0 $spacer;
    @include media-breakpoint-down(xs) {
      padding: 0 $spacer 0 0;
    }
  }
  
  .nav-link {
    color: $white;
    padding: 0;
    opacity: 0.5;
    transition: all 0.25s;
    &:hover {
      opacity: 1;
    }
    &__active {
      opacity: 1;
    }
  }
  

}

.credits {
  min-width: 60px;
  height: 22px;
  text-align: center;
  &:hover {
    color: #3325F1 !important;
  }
}